*{
	margin: 0;
}

body{
	overflow-x: hidden;
	background-color: #e3e5ff;
}

a{
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 8px;
}

h1{
	color: #2b35cf;
}